#I use Vim to do the text editing. However, it leaves these swap files everywhere. Git: Don't pick these up!
*.swp
*.vimrc

#build folder
build

#I also use QT Creator
*.user

#In case of Macintosh users
.DS_Store

*.log

node_modules
