body > #sidebar
{
  position: fixed;
  top: 48px;
  left: -256px;
  width: 256px;
  bottom: 0px;

  background-color: #C6C6C6;
  color: black;
}

body > #content
{
  position: fixed;

  top: 48px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  padding: 16px;

  background-color: white;

  overflow: auto;
}
